@charset "UTF-8";

div#member {
    display:flex;
    padding: 0 90px;
    margin-top:100px;
}


/* -- mypage_right -- */
div#mypage_right {
    width: 100%;
}

div#mypage_right > div > div h3 {
    margin: 0;
    padding-bottom:20px;
    font-weight:400;
    font-size:16pt;
}

div.page_title {
    display:flex;
}

ul.ul__cate {
    display:flex;
    margin-left:auto;
    list-style-type:none;
    padding:0;
}

ul.ul__cate > li > a {
    text-decoration:none;
    padding-left:20px;
    color:#c6c6c6;
    font-size:16pt;
}

ul.ul__cate > li > a:hover {
    color:#000;
}

ul.ul__cate > li > a.__ac {
    color:#000;
}






div#mypage_right > table th.table_title {
    background-color: #f6f6f6;
    text-align:center;
}

div#mypage_right > table {
    border-collapse:collapse;
    margin-bottom:45px;
    width:100%;
}

div#mypage_right > table th {
    font-weight:normal;
}

tr.bold_line {
    border-top:solid 1px #000;
    border-bottom:solid 1px #000;
}

tr.opac_line {
    border-top:solid 1px #C6C6C6;
    border-bottom:solid 1px #C6C6C6;
}

tr.none_line {
    border:none;
}

div#mypage_right > table tr {
    height:42px;
}


    /* 본문 */
table#product_info tr > td > ul {
    list-style-type:none;
    padding:0;
    width:60%;
    margin:0 auto;
}

table#product_info tr > td > ul > ul {
    margin-top:25px;
    list-style-type:disc;
    padding-left:20px;
}

li.list__title {
    font-weight:bold;
    font-size:16pt;
    margin-top:40px;
}

li.list__content {
    margin-top:25px;
}

li.add__notice {
    color:#707070;
}
