@charset "UTF-8";@charset "UTF-8";

@import "../font.css";


body * {
   font-family: "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
   font-kerning: auto;
   font-optical-sizing: auto;
   font-style: normal;
   font-variant-alternates: normal;
   font-variant-caps: normal;
   font-variant-east-asian: normal;
   font-variant-ligatures: normal;
   font-variant-numeric: normal;
   font-variant-position: normal;
   font-variation-settings: normal;
   text-rendering: auto;
   font-size: 12px; 
   letter-spacing: -0.6px;
   
   
}


div#container {
	width: 80%;
	margin: auto;
}

div#container > div#left {
	width: 65%; 
	height: 800px; 
	display: flex; 
	margin-top:5%;
}

div#cart_bag {
	width: 100%;
}


div#cart_bag > div#item_info {
	height: 250px;
}

div#item_info > #cart_title {
	font-size: 17px; 
	font-weight: 600;
	margin: 3% 0 0 4%;
}

div#item_info > #cart_title span {
	font-size: 10px;
}

div#item_info > #cart_item {
	border-bottom: 0.5px solid #b7b7b7; 
	display: flex; 
	margin: 0 5% 0 4%; 
	padding-bottom: 2%;
} 

div#cart_Noitem > span {
	font-size: 13px;
	font-weight: 600;
}

div#cart_item > #cart_product_mini_photo {
	width: 10%; 
	float: left;
}

div#cart_item > #cart_product_mini_photo > img {
	border-radius: 3px;
}

div#cart_item > #cart_item_info {
	width: 100%; 
	display: flex; 
	margin: 3.2% 0 0 2.5%; 
	justify-content: space-between;
}

div#cart_item_info > div#cart_product_name span {
	margin-bottom: 0; 
	font-size: 12px; 
	font-weight: 500; 
	display: block;
}

div#cart_item_info > div#cart_product_name select {
	font-size: 12px; 
	font-weight: 600; 
	border: 0.5px solid #b7b7b7; 
	width: 60%; 
	height: 35px; 
	margin-top: 38%; 
	text-indent: 14px; 
	outline: 0 none;
}

div#cart_item_info > div#cart_product_price {
	text-align:left;
} 

div#cart_product_price > span {
	font-size: 12px; 
	font-weight: 600; 
	display: block;
}

div#cart_product_price > div {
	margin-top: 130%; 
	margin-left: 48%;
}

div#cart_product_price > div span {
	color: #b7b7b7; 
	font-size: 11px; 
	font-weight: 600; 
	cursor: pointer;
	border-bottom: solid 0.5px #b7b7b7;
}


div#container > div#right {
	width: 31%; 
	display: flex; 
	margin-top:7%; 
	padding-right: 4%
}


div#right > #payment_detail {
	width: 100%;
}

div#payment_detail > #payment_title {
	font-size: 17px; 
	font-weight: 600; 
	padding-bottom: 7%;
}

div#payment_detail > div#payment_price {
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	border-top:solid 2px black; 
	border-bottom:solid 1px lightgray; 
	padding-top:7%; 
	padding-bottom:4%
}

div#payment_price span {
	font-size: 11px; 
	font-weight: 600; 
} 

div#payment_detail > div#delivery_charge {
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	border-bottom:solid 1px lightgray; 
	padding-top:4%; 
	padding-bottom:4%  
}

div#delivery_charge span {
	font-size: 11px; 
	font-weight: 600;
}

div#delivery_charge span#free_charge {
	color: #b7b7b7; 
	font-size: 9px;
}

div#payment_all_price {
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	padding-top:4%; 
	padding-bottom:4%;
}

div#payment_all_price span {
	font-size: 13px; 
	font-weight: 600;
}

button#goPayment {
	width: 100%; 
	height: 50px; 
	text-align: center; 
	border: 1px solid black;
	background-color:black; 
	font-size: 14px; 
	color: white; 
	font-weight: 500; 
	margin-top: 5%; 
	margin-bottom: 2%;
	cursor: pointer;
}

button#goShopping {
	width: 100%; 
	height: 50px; 
	text-align: center; 
	border: 1px solid black; 
	background-color:white;
	font-size: 14px; 
	font-weight: 500; 
	margin-bottom: 5%;
	cursor: pointer;
}


span#no_bag {
	color:red; 
	font-size: 10px; 
	font-weight: 600;
}






